@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Ubuntu&display=swap");
.App {
  text-align: center;
  font-family: "Ubuntu", "Open Sans", "Helvetica Neue", sans-serif;
}

.code {
  font-family: "Fira Code", "Open Sans", "Helvetica Neue", sans-serif;
}
