@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans&display=swap");
.App {
  text-align: center;
  font-family: "Nunito Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

.roboto {
  font-family: "Nunito Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

.code {
  font-family: "Fira Code", "Open Sans", "Helvetica Neue", sans-serif;
}
